# https://github.com/Klipper3d/klipper/blob/master/config/generic-bigtreetech-skr-mini-e3-v3.0.cfg

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Heath: I copied the firmware to an SD card and rebooted the printer. 
# The printer LCD will not give any indication that the firmware update was successful.
# It should be done in about 10 seconds

# My hardware:
#  - Tronxy X5SA
#  - SKR Mini E3 V3 Board
#  - Biqu H2 V2S Lite extruder / hotend
#  - Biqu Microprobe v2



# these are needed by mainsail macros
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos  : True ; use custom park coordinates for x,y [True/False] 
variable_custom_park_x   : 280.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y   : 280.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz  : 20.0   ; custom dz value; the value in mm to lift the nozzle when move to park position 
variable_retract         : 2.0   ; the value to retract while PAUSE
variable_cancel_retract  : 2.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract   : 10.0  ; retract speed in mm/s
variable_unretract       : 2.0   ; the value to unretract while RESUME
variable_speed_unretract : 10.0  ; unretract speed in mm/s
variable_speed_hop       : 15.0  ; z move speed in mm/s
variable_speed_move      : 100.0 ; move speed in mm/s
variable_park_at_cancel  : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True,False]
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract  : False ; use fw_retraction instead of the manual version [True/False] 
gcode:

# --------------------------------------------------------------------

[include mainsail.cfg]
[include macros.cfg]
# [include timelapse.cfg]
[include probe.cfg]
# [include adxl.cfg]

[mcu]
# plugged into USB on PI
# serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.1:1.0
serial:  /dev/serial/by-id/usb-Klipper_stm32g0b1xx_250010001350415833323520-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 5000
max_z_velocity: 25
max_z_accel: 30

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 32
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: -20
position_min: -20
position_max: 296 # for bed mesh
homing_speed: 50.0

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 32
rotation_distance: 40
endstop_pin: ^!PC1
position_endstop: -32
position_min: -32
position_max: 305
homing_speed: 50.0

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 32
rotation_distance: 8
position_min: -8
position_max: 400
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[extruder]
nozzle_diameter: 0.600
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 3.53451
# gear_ratio: 7:1 
heater_pin: PC8
sensor_type: Generic 3950
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_extrude_temp: 170
min_temp: 0
max_temp: 270
max_extrude_only_distance: 350
filament_diameter: 1.750
pressure_advance: 0.01

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: Generic 3950
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan heatbreak_cooling_fan]
pin: PC7

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

# [filament_switch_sensor filament_sensor]
# pause_on_runout: True
# runout_gcode:
#   M25
# switch_pin: !PE6

# [output_pin beeper]
# pin: PA8

[safe_z_home]
home_xy_position: 177, 165
speed: 50
z_hop: 10
z_hop_speed: 15

[bed_screws]
screw1: 30,8
screw2: 185, 8
screw3: 315, 8
screw4: 30, 298
screw5: 185, 298
screw6: 315, 298

[screws_tilt_adjust]
screw1: 63, 34
screw1_name: front left screw
screw2: 188, 34
screw2_name: front middle screw
screw3: 295, 34
screw3_name: front right screw
screw4: 63, 282
screw4_name: rear left screw
screw5: 188, 282
screw5_name: rear middle screw
screw6: 295, 282
screw6_name: rear right screw
horizontal_move_z: 5
speed: 150
screw_thread: CW-M3

[bed_mesh]
speed: 120
probe_count: 5, 5
horizontal_move_z: 5
algorithm: lagrange
mesh_min : 10, 8
mesh_max : 265, 295
fade_start: 1
fade_end: 10
fade_target: 0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.916
#*# pid_ki = 1.167
#*# pid_kd = 1077.044
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 11.073
#*# pid_ki = 0.334
#*# pid_kd = 91.770
#*#
#*# [probe]
#*# z_offset = 1.299
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.283750, -0.277500, -0.358750, -0.359375, -0.317500
#*# 	-0.280000, -0.127500, -0.105625, -0.120625, -0.149375
#*# 	-0.279375, -0.100000, -0.046875, -0.068750, -0.103125
#*# 	-0.275625, -0.121875, -0.085000, -0.107500, -0.126875
#*# 	-0.315625, -0.255625, -0.280000, -0.307500, -0.275625
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 265.0
#*# min_y = 8.0
#*# max_y = 295.0
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 63.4
#*# shaper_type_y = ei
#*# shaper_freq_y = 64.6
